<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes.count() %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments.count() %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>

        <% @the_photo.fans.each do |fan| %>
        <%= fan.username %>
        
        <% end %>
      </dd>

      
      <dt>
        Add a fan
      </dt>
        <% likeornot = Like.where({ :fan_id => @current_user.id, :photo_id => @the_photo.id }).at(0) %>
        <% if likeornot == nil  %>
          <dd>
            <form action="/insert_like" method="post">
                    <input id="browser_photo_id" type="hidden" name="input_photo_id" value=<%= @the_photo.id %>>
                    <input id="browser_fan_id" type="hidden" name="input_fan_id" value=<%= @current_user.id %>>
                    <button>Like</button>
                  </form>
          </dd>
        <% elsif likeornot != nil && User.where({ :id => likeornot.fan_id }).at(0).id ==  @current_user.id %>
          <dd>
          <a href="/delete_like/<%= likeornot.id %>">Unlike</a>
          </dd>
        <% end %>

      <% if @current_user.id == @the_photo.poster.id %>
        <dt>
          Edit photo
        </dt>
        <dd>
          <form action="/modify_photo/<%= @the_photo.id %>" method="post" enctype="multipart/form-data">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" class="form-control">

            <label for="caption_box">Caption</label>
            <textarea id="caption_box" name="input_caption" rows="2" value=<%= @the_photo.caption %>></textarea>
        
            <button>Update photo</button>
          </form>
        </dd>

        <dt>
          Delete photo
        </dt>

        <dd>
          <a href="/delete_photo/<%= @the_photo.id %>">Delete this photo</a>
        </dd>
        
      <% end %>

    </dl>
  </div>
</div>

<hr>

<hr>
